.shopping-cart-div {
  width: 70%;
  margin: auto;
}

.shopping-cart-title {
  margin-top: 20px;
  margin-bottom: 5px;
}

.cart-title-underline {
  border: 1px solid black;
}

.cart-item-divider {
  background-color: #636770;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 20px;
  font-size: 15px;
}

.cart-item-divider p {
  color: white;
  padding: 6px 0;
}

.cart-item-pricing {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.cart-item-div {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.cart-item-img {
  width: 100px;
  height: 100px;
}

.cart-product-info {
  padding-top: 10px;
  height: 20px;
  width: 200px;
}

.cart-prod-name {
  display: inline-block;
  width: 71px;
}

.qty-change {
  display: inline-block;
  width: 67px;
}

.product-total {
  display: inline-block;
  width: 62px;
  text-align: end;
}

.checkout-btn {
  margin-top: 30px;
  background-color: #860101;
  padding: 10px;
  width: 15vw;
  border-radius: 5px;
  border-color: #740101;
  border-width: 5px;
  border-style: outset;
  outline: none;
  font-size: 20px;
}

.checkout-btn:hover {
  background-color: #9f0101;
  border-color:#880101;
}

.checkout-btn:active {
  background-color: #880101;
  border-color: #9f0101;
}

.pic-name-div {
  padding-top: 10px;
  display: flex;
}

.name-rmv-div {
  margin-left: 10px;
}

.rmv-button {
  color: black;
  padding: 5px 10px;
  margin-top: 40px;
  background-color: white;
  border: 1px solid #e8e8e8;
}

.plus-btn {
  border-radius: 0 4px 4px 0;
  margin-left: 1.5px;
}

.minus-btn {
  border-radius: 4px 0 0 4px;
  margin-right: 1px;
}

.minus-btn,
.plus-btn {
  background-color: #636770;
}

.count-number {
  display: inline;
  background-color: #b9bfcc;
}

.order-total-div {
  display: flex;
  margin-top: 30px;
  outline: 1px solid #636770;
  justify-content: space-between;
}

.order-total-info {
  padding: 20px;
  font-size: 15px;
  width: 350px;
}

.order-sum-title {
  padding: 0 20px;
  color: white;
  background-color: #7b808b;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.order-sections-div {
  display: flex;
  justify-content: space-between;
}

.order-line {
  margin: 10px 0;
}

.checkout-btm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.checkout-btm p {
  color: black;
}
