.create-account-div {
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.create-acc-info {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.create-acc-password {
  top: 20px;
}

.checkout-title {
  margin-bottom: 5px;
}

.checkout-title-underline {
  border: 1px solid black;
  margin-bottom: 20px;
}

.acc-or-guest {
  background-color: #636770;
  color: white;
  text-align: center;
}

#form-square {
  width: 90%;
  margin: auto;
  border-style: none;
}

.choices-div {
  display: flex;
  justify-content: space-between;
}

.choice-box {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  border: 2px solid #636770;
}

.or {
  text-align: center;
  margin-top: 20px;
}

#form-page {
  z-index: 5;
  margin-top: 20px;
}

.form-div {
  display: block;
}

.guest-checkout-form {
  width: 90%;
  margin: 20px auto;
}

.user-input-wrp {
	position: relative;
  width: calc(100% - 2em);
  margin: 0;
  color: gray;
  font-weight: 300;
}

.floating-label {
	position: absolute;
	pointer-events: none;
	top: 12px;
	left: 10px;
	transition: 0.2s ease all;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 0.7;
}

.checkout-page {
  width: calc(100% - 2em);
}

.checkout-page input {
  background-color: white;
  border: 1px solid #d1d5e0;
  border-radius: 3px;
  font-size: 15px;
  padding: 10px;
  width: calc(100% + 10px);
  margin-bottom: 10px;
}

.guest-button {
  padding: 9px;
  width: 100%;
}

.submit-qst-btn {
  margin: auto;
  display: block;
  width: 60%;
  font-size: 20px;
  padding: 10px;
}
