.dropdown-btn {
  margin-bottom: 6px;
  border: none;
  cursor: pointer;
}

.dropdown-btn:focus {
  outline: none;
}

.dropdown-div {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f2f2;
  min-width: 175px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  background-color: #dddddd
}

.show {
  display:block;
}

